@import "../utils/vars";
.mobile-container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  background-color: $bg-color;
  background-image: url("/images/slider-pic7\ 1ice-cream336.png");
}

.mobile-menu.contacts {
  margin-top: auto;
  &:hover,
  &:focus {
    color: $bg-color;
    cursor: pointer;
  }
}
.mobile-menu .link {
  padding: 10px;
  text-decoration: none;
  font-family: DM Sans;
  font-weight: 700px;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $brand-color;
  margin: 0;
  padding: 0;
  background-color: $white-color;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle svg {
  width: 20px;
  height: 12px;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: $brand-color;
  cursor: pointer;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $modal-bg;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: $white-color;
  width: 14px;
  height: 14px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu_item {
  min-height: 42px;
  border-top: 1px solid rgba(225, 130, 152, 1);
  border-bottom: 1px solid rgba(225, 130, 152, 1);
  text-align: center;
}

.link {
  color: $white-color;
  text-decoration: none;
  font-family: DM Sans, sans-serif;
  font-weight: 700px;
  font-size: 16px;
  line-height: 1, 3;
  &:hover,
  &:focus {
    color: $brand-color;
    cursor: pointer;
  }
}
@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}
