$bg-color: rgba(255, 184, 202, 1);
$wr-color: rgba(0, 0, 0, 1);
$pr-color: rgba(144, 126, 130, 1);
$brand-color: rgba(212, 20, 67, 1);
$title-color: rgba(255, 165, 186, 1);
$white-color: rgba(255, 255, 255, 1);
$modal-bg: rgba(225, 121, 146, 1);
